.c1 {
    text-align: center;
    background-color:#F3F3F3 ;
  }
  
  .c2 {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding-bottom: 6%;
  }
  
  .c7{
    background-color:#05cdff;
    height: 55px;
    padding: 20px;
    color: white;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .c3{
    display: block;
    width: 259px;
    height: 212px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 1%;
  }
  .c4{
    text-align: center;
    color: #05cdff;
    margin-top: 1%;
  }
  .c5{
    margin-top: 1%;
    padding-left: 1%;
    width: 259px;
    left: 0;
    right: 0;
    height: 20pt;
    border: 1px solid #ddd;
    height: 37px;
  }
  .c6{
    margin-top: 2%;
    background-color:white;
    width: 18%;
    left: 0;
    right: 0; 
    height:20pt
  }