
  [type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
  }
  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }

  .App-User{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    
  }
  .cu1{
    border-bottom : 1px solid #333333;
    margin-bottom: 10px;
    margin-left:  20px;
    margin-right : 20px;
    
}   
.App-ub{
  margin-bottom: 0.8%;
  width: 259px;
  background-color:white;
  border: 1px solid #3333;
  border-radius: 2px;
  left: 0;
  right: 0;
  padding-left: 10px;
  height: 20pt;
  font-style: bold;
}
.App-button1{
      background-color: rgba(255, 0, 0, 0);
      border-radius: 5px;
    border: 1px solid rgba(36, 36, 36, 0.699);
      width: 120px;
      margin: 0px 10px 0px 0px;
  }
.App-button{
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgba(36, 36, 36, 0.699);
  width: 120px;
  }
.cu2{
  margin-top: 20px;
}
.App-button:hover , .App-button1:hover{
   
    background-color: #ffffff;
    border-color: #05cdff;

}
  
  
  
 
  

