.lea{
    border-bottom : 1px solid #333333;
    margin-bottom: 10px;
    margin-left:  20px;
    margin-right : 20px;
    justify-content: space-between;
    display: inline-flex;
    width: 97%;
}   
.lea a{
   color: #05cdff;
    
}
.lea a:hover{
    color: #0516ffb7;
 }
.boot{
    padding-right : 20px;
    padding-left: 20px; 
 
}
element.style {
    text-align: left;
    width: 67px;
}
.l81{
    color: #fd0000;
    
  }
.pass{
    color: green;
}
.App-font{
    text-align: center;
    align-items: center;
}
.leave{
    margin-top: 5%;
}
.App-date{
    margin-bottom:30px;
    width: 310px;
    background-color:white;
    border: 1px solid #3333;
    border-radius: 2px;
    left: 0;
    right: 0;
    padding-left: 10px;
    height: 20pt;
    font-style: bold;
}
.App-date1{
    margin: 0px 10px 30px 0px;
    width: 150px;
    background-color:white;
    border: 1px solid #3333;
    border-radius: 2px;
    left: 0;
    right: 0;
    padding-left: 10px;
    height: 20pt;
    font-style: bold;
}
.App-date2{
    margin: 0px 0px 30px 0px;
    width: 150px;
    background-color:white;
    border: 1px solid #3333;
    border-radius: 2px;
    left: 0;
    right: 0;
    padding-left: 10px;
    height: 20pt;
    font-style: bold;
}
.sear {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    margin-right : 20px;
    height: 50%;
  }
  .sear2 {
    margin-left: 10px;
    border-radius: 5px;
    border: 5px;
    width: 100px;
    border-color:rgba(51, 51, 51, 0.185);

  }
  .sear1{
    border-radius: 5px;
    width: 300px;
  }
  

  
 