.p5-1{
    background-color:#05cdff;
    height: 55px;
    padding: 20px;
    color: white;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
   
  }
  .p5-2{
      float: right;
      padding-right: 3.5%;
      padding: 16px 16px;
      background-color: #05cdff;
      border-color:#05cdff;
      border-radius:0;
  }
  .p5-3 {
    overflow: hidden;
    background-color: #05cdff;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 17px;
  }
  .p5-4{
    background-color: #ffffff;
    padding-left: 1%;
    padding-right: 1%;
}
.p5-5{
  
  float: right;
  
}
.p5-6{
  float: right;
  text-align: left;
  background-color: #05cdff;
  border-color:#05cdff;
  border-radius:0;
  padding-left: 1%;
  padding-right: 3.5%;
}
.p5-7{

    text-align: center;
    background-color:#F3F3F3 ;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding-bottom: 15%;
  
}
.p5-8{
  background-color:white;
  border-radius: 0%;
  left: 0;
  right: 0;
}