.testcolumn{
        background: #F5F5F5;  
    }
    .col1{
        background:	white;
        display: inline-flex;
        width: 100%;
        border-radius: 5px;
        color: black;
    }
    .colleft{
        padding-right: 40px;
        border-right: 1px solid #ddd;
        margin: 10px;
        width: 60%;
    }
    .colleft1{
        padding-right: 40px;
        /* border-right: 1px solid #ddd; */
        margin: 10px;
        width: 70%;
    }
    .colright{
        margin: 10px;
        margin-top: 30px;
    }
    .col-md-6 {
        width: 50%;
        margin-top: 15px;
        margin-bottom: 15px;
    
    }
    .justify-center{
        display: flex;
        justify-content: center;
        height: -webkit-fill-available;
    }
    .widthstand{
        width: 1024px;
        margin-top: 150px;
    }
    .day{
        font-size: 30px;
        color :#05cdff;
       
    }
    .day:hover {
        color: #000;
    }
    .col1:hover {
    background-color : #E0FFFF;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    }
    .tb:hover {
        text-decoration: none;
        font-family: monospace;
    
    }
    
    