.ul {
    height: 60px;
    background-color: #05cdff;
    justify-content: space-between;
    display: inline-flex;
    width: 100%;
    margin-bottom: 20px;
    }
    .h33 {
        margin-left: 20px;
        text-decoration: underline;
        color: #05cdff;
        margin-left: 70px
        
    }
    .dropbtn {
        display: inline-block;
        color: white;
        text-align: left;
        padding: 14px 16px;
        text-decoration: none;
        height: 100%;
    }
    .navbarright .dropbtn1 p{
        margin: 0;
    }
    .dropbtn1 {
        padding: 5px 16px;
        height: 100%;
        color: white;
    
    }
    
    .dropbtn:hover {
        background-color: rgba(0, 94, 126, 0.76);
        height: 100%;
        color: #ffffff;
        text-decoration: none;
    }
    
    .dropdown {
        display: inline-block;
        height: 100%;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .dropdown-content a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        border: 1px solid #fff;
    }
    
    .dropdown-content a:hover 
    {background-color:rgba(0, 94, 126, 0.76)}
    
    .dropdown:hover .dropdown-content {
        display: block;
        background-color: rgba(0, 94, 126, 0.76);
    }
    
    .ps1{
        background-color: white;
        padding-left: 1%;
        padding-right: 1%;
        padding-top: 1%;
        height: 100px;
        width: 100px;
    }
    .topleft{
    background : white;
    width: 150px;
    text-align: center;
    }
    .topleft img{
        height: 50px;
        margin-top: 5px;
    }
    .topright{
        display: flex;
    }
    .topright a:focus{
        color: white; 
        text-decoration: none; 
    }
    .navbarleft{
        display: inline-flex;
    }
    .navbarright{
        padding-right: 150px;
        display: inline-flex;
        align-items: center;
    }
    .navbarright1{
        display: inline-flex;
        justify-content: center;
        width: 100%;
    }
    
    .testcolumn{
        background: #F5F5F5;
        
        
    }
    .col1{
        background:	white;
        display: inline-flex;
        width: 100%;
        border-radius: 5px;
        color: black;
        margin-top: 25px;
        margin-left: 50px;
    }
    .colleft{
        padding-right: 40px;
        border-right: 1px solid #ddd;
        margin: 10px;
        width: 60%;
    }
    .colleft1{
        padding-right: 40px;
        /* border-right: 1px solid #ddd; */
        margin: 10px;
        width: 70%;
    }
    .colright{
        margin: 10px;
        margin-top: 30px;
    }
    .col-md-6 {
        width: 50%;
    
    }
    .justify-center{
        display: flex;
        justify-content: center;
        height: 100%;
    }
    .widthstand{
        width: 1024px;
    }
    .day{
        
        color :#05cdff;
       
    }
    .day:hover {
        color: #000;
    }
    .col1:hover {
    background-color : #E0FFFF;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    }
    .tb:hover {
        text-decoration: none;
        font-family: monospace;
    }
    .block{
        background-color: #ddd;
        padding: 10px;
        width: 350px;
        display: inline-flex;
        border: 3px solid #ddd;
        border-radius: 5px
    }
    .block:hover{
        border: 3px solid #05cdff;
    }
    .justifycenter{
        display: flex;
        justify-content: center;
    }
    .contentleft{
        width: 225px;
        padding: 0 10px;
        border-right: 1px solid #333333;
    }
    .contentright{
        width: 125px;
        align-items: center;
        padding: 0 20px;
        display: inline-flex;

    }
    .contentright span{
        font-size: 25px;
        color: #05cdff;
    }
    .contentright label{
        font-weight: unset;
        margin-bottom: unset;
        padding: 10px 10px 0 10px;
    }
    .solid{
        border-bottom : 1px solid #333;
        width: 350px;
        margin: 15px 0 20px 0;
    }
    