.nav1{
    background-color:#05cdff;
    height: 55px;
    padding: 20px;
    color: white;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
   
  }
  .nav2{
      padding: 16px 16px;
      background-color: #05cdff;
      border-color:#05cdff;
      border-radius:0;
  }
  .nav3 {
    overflow: hidden;
    background-color: #05cdff;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 17px;
  }
.nav4{
    background-color: #ffffff;
    padding-left: 1%;
    padding-right: 1%;
}
.nav5{
  
  float: right;
  
}
.nav6{
  float: right;
  text-align: left;
  background-color: #05cdff;
  border-color:#05cdff;
  border-radius:0;
  padding-left: 1%;
  padding-right: 3.5%;
}
